html,
body {
  padding: 0;
  margin: 0;
  background: #f4f5f5;
}
body {
  font-size: 16px;
}

.header___37OYk {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1024px;
  height: 60px;
  border-bottom: 1px solid #f1f1f1;
  background: #fff;
  z-index: 1;
}
.header-wrap___1j51L {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header-title___758aE {
  font-size: 40px;
  font-style: italic;
  line-height: 60px;
  padding-right: 20px;
  color: #007fff;
  cursor: pointer;
  text-decoration: none;
}
.header-title___758aE:visited {
  color: #007fff;
}
.header-title___758aE:hover,
.header-title___758aE:active {
  color: #007fff;
}
.header-navs___1NA87 {
  height: 100%;
  display: flex;
}
.header-navs-item___2ryCE {
  padding: 0 1em;
  height: 100%;
  display: flex;
  font-size: 16px;
  color: #71777c;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.header-navs-item___2ryCE:visited {
  color: #71777c;
}
.header-navs-item___2ryCE:hover,
.header-navs-item___2ryCE:active {
  color: #007fff;
}
.header-navs-item_active___1lOLW {
  color: #007fff !important;
}

.container___7JNFU {
  width: 960px;
  margin: 120px auto 0 auto;
}

.labels___1PCBH {
  position: fixed;
  width: 100%;
  height: 45px;
  top: 61px;
  left: 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.labels-wrap___2jjf3 {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.labels-item___2VZXi {
  padding: 0 1em;
  height: 100%;
  display: flex;
  font-size: 14px;
  color: #71777c;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.labels-item___2VZXi:first-of-type {
  padding-left: 0;
}
.labels-item___2VZXi:last-of-type {
  padding-right: 0;
}
.labels-item___2VZXi:visited {
  color: #71777c;
}
.labels-item___2VZXi:hover,
.labels-item___2VZXi:active {
  color: #007fff;
}
.labels-item_active___1aEgg {
  color: #007fff !important;
}
.labels-children___SyAOy {
  display: flex;
  flex-wrap: wrap;
}
.labels-children-item___2cqL9 {
  display: block;
  height: 24px;
  padding: 0 10px;
  font-size: 13px;
  background: #fff;
  border-radius: 24px;
  line-height: 24px;
  margin: 0 12px 12px 0;
  color: #71777c;
  cursor: pointer;
  text-decoration: none;
}
.labels-children-item___2cqL9:visited {
  color: #71777c;
}
.labels-children-item___2cqL9:hover,
.labels-children-item___2cqL9:active {
  color: #007fff;
}
.labels-children-item_active___872xH {
  background: #007fff !important;
  color: #fff !important;
}

.empty___2-CGA {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #b2bac2;
}
.articles___168ww {
  width: 700px;
  background: #fff;
}
.articles-item___2zppd {
  padding: 18px 24px;
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.articles-item___2zppd:not(:last-of-type) {
  border-bottom: 1px solid rgba(178, 186, 194, 0.15);
}
.articles-item-head___3-Woe {
  font-size: 14px;
  color: #b2bac2;
}
.articles-item-label___3JTth {
  font-size: 12px;
  color: #b2bac2;
  cursor: pointer;
  text-decoration: none;
}
.articles-item-label___3JTth:visited {
  color: #b2bac2;
}
.articles-item-label___3JTth:hover,
.articles-item-label___3JTth:active {
  color: #007fff;
}
.articles-item-title___1ZeqD {
  max-width: 568px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  color: #2e3135;
  font-weight: 600;
}
.articles-item-title___1ZeqD span:hover,
.articles-item-title___1ZeqD span:active {
  text-decoration: underline;
}
.articles-item-cover___3HMZl {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: #b2bac2;
}

.container___1YvT7 {
  width: 960px;
  margin: 120px auto 0 auto;
}

.j2h-root * {
  background: #FFF;
}

.j2h-root {
  font-family: 'Inconsolata';
}

.j2h-root, .j2h-type-object, .j2h-type-array, .j2h-key, .j2h-value, .j2h-root tr {
  box-sizing: border-box;
  font-weight: bold;
}

.j2h-key, .j2h-value {
  margin: 0;
  padding: 0.3em 0.5em;
  font-weight: bold;
}

.j2h-value {
  border-left: 1px solid #ddd;
}

.j2h-type-number {
  text-align: center;
  color: #5286BC;
}

.j2h-type-bool-true {
  text-align: center;
  color: #5A811C;
}

.j2h-type-bool-false {
  text-align: center;
  color: #D45317;
}

.j2h-type-bool-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: bottom;
}

.j2h-type-string {
  font-style: italic;
  color: #6E6E6E;
}

.j2h-array-key {
  font-style: italic;
  font-size: small;
  text-align: center;
}

.j2h-object-key, .j2h-array-key {
  color: #444;
  vertical-align: top;
}

.j2h-object-key {
  width: 7em;
}

.j2h-array-key {
  width: 2em;
}

.j2h-type-object > tbody > tr:nth-child(odd), .j2h-type-array > tbody > tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.j2h-type-object > tbody > tr:nth-child(even), .j2h-type-array > tbody > tr:nth-child(even) {
  background-color: #fff;
}

.j2h-type-object, .j2h-type-array {
  width: 100%;
  border-collapse: collapse;
}

.j2h-root {
  border: 1px solid #ccc;
  margin: 0.2em;
}

th.j2h-key {
  text-align: left;
}

.j2h-type-object > tbody > tr, .j2h-type-array > tbody > tr {
  border-bottom: none;
}

.j2h-empty {
  font-style: italic;
  color: #999;
  font-size: small;
}

.j2h-a {
  text-decoration: none;
}

.j2h-a:hover {
  text-decoration: underline;
}

.j2h-a span.j2h-type-string {
  text-decoration: none;
  color : #268ddd;
  font-style: normal;
}

.container___34fwo {
  width: 960px;
  margin: 80px auto 0 auto;
  box-sizing: border-box;
  padding: 30px 40px;
  background: #fff;
}
.activiness___15-3n {
  width: 100%;
  height: 200px;
}
.profile___pbM93 {
  width: 100%;
}

